{% extends "layout.html" %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
    <h6>Current status:</h6>
    Curtain is {% if opened %}open{% else %}closed{% endif %}
{% endblock %}

{% block body %}
    <h6>Alarm is set at:</h6>
    <ul class="no-bullet">
  {% for entry in entries %}
    <li>{% if entry.hours is lessthan 10 %}0{% endif %}{{ entry.hours }}:{% if entry.minutes is lessthan 10 %}0{% endif %}{{ entry.minutes }} {{ entry.date }} {% if entry.open %}open{% else %}close{% endif %}<form action="{{ url_for('delete_entry') }}" method="POST"><input type="hidden" name="id" value="{{ entry.id }}"><input type="submit" value="X"></form>
  {% else %}
    <li><em>Unbelievable.  No entries here so far.</em>
  {% endfor %}
  </ul>

    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <div class="row">
          <div class="medium-4 column">
              <label>Hours
                  <input title="hours" type="number" name="hours">
              </label>
          </div>
          <div class="medium-4 column">
              <label>Minutes
                  <input title="minutes" type="number" name="minutes">
              </label>
          </div>
          <div class="medium-4 column">
              <label>Open
                  <input type="checkbox" name="open" title="open" checked>
              </label>
          </div>
      </div>
        <input type=submit value="Set alarm">
    </form>

{% endblock %}