{% extends "layout.html" %}

{% block title %}Settings{% endblock %}

{% block sidebar %}
    <h5>Current status:</h5>
    <img height="300" width="300" src="{{ url_for('static', filename='images/') }}{% if opened %}open{% else %}closed{% endif %}.jpg">
{% endblock %}

{% block body %}
    <h5>Change settings</h5>
    <form action="{{ url_for('change_settings') }}" method=post>
        <label>Time before start alarm (in minutes)
            <input type="number" name="time_before_start" value="{{ time_value }}">
        </label>
        <label>Speed of motor
            <input type="number" name="speed" value="{{ speed_value }}">
        </label>
        <input type="submit" class="button" value="Save">
    </form>

{% endblock %}